@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


//////////////////////////////////////General////////////////////////////////////////////////
*{
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}

.leftSelectContainer{
    max-width: 400px;
    
}

input[type=text]{
    position: relative;
    background-color: #202225;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    padding-left: 32px;
    width: 100%;
}

hr{
    border-top: 1px solid;
    border-radius: 3px;
    color: gray;
}


///////////////////////////////////////////ProfileContainer///////////////////////////////////
.profileContainer{
    display: flex;
    align-items: center;
}

.userProfilePicture{
    max-width: 50px;
    margin: 8px;

    img{
        width: 50px;
        border-radius: 50%;
        background-color: white;
    }
}

.usernameText{
    margin-right: 8px;
    margin-left: 8px;
    flex-grow: 1;
    p{
        margin:0px;
    }
}

.username{
    font-weight: bold;
}

.userTag{
    color: gray;
    font-size: small;
}

.settingsIcon{
    font-size: 1.4em;
    margin-right: 18px;
}

/////////////////////////////////////////////////searchConvoContainer//////////////////////////

.searchbarContainer{
    position: relative;
    padding:8px;

    &::before{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        z-index: 5;
        content: "\f002";
        font: var(--fa-font-solid);
        color: white;
    }
}
