@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* ========================================================================================
General
=========================================================================================== */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  scrollbar-width: thin;
}

// Chrome scrollbar style
* ::-webkit-scrollbar {
  width: 15px;
}

* ::-webkit-scrollbar-track {
  background-color: #27282d;
}

* ::-webkit-scrollbar-thumb {
  background-color: #7b7c7f;
  border-radius: 20px;
  border: 3px solid #27282d;
}

body {
  overflow: hidden;
  max-height: 100vh;
}

.leftSelectContainer {
  float: left;
  width: 250px;
  background-color: #2f3136;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  display: flex;
}

input[type="text"] {
  position: relative;
  background-color: #202225;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  padding-left: 32px;
  width: 100%;
}

button {
  position: relative;
  background-color: #2f3136;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

hr {
  border-top: 1px solid;
  border-radius: 3px;
  color: gray;
}

/* ========================================================================================
userStatus
=========================================================================================== */

.userStatus{
  position: absolute;
  bottom: 4px;
  right: 2px;
  z-index: 10;
  height: 10px;
  width: 10px;
  // background-color: #808080;
  outline: 2px solid #2F3136;
  outline-color: #2F3136;
  border-radius: 50%;
  display: inline-block;
  &.online{
    background-color: green;
  }
  &.away{
    background-color: #FAA81A;
  }
  &.dontDisturb{
    background-color: #BD3D41;
  }
}

/* ========================================================================================
pageContentContainer
=========================================================================================== */

.pageContentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
